.widget {
	margin: 0;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.footer-widget {
	padding: 1% 5%;

	.widget {
		float: left;
		width: 25%;
	}

	ul {
		list-style: none;
		padding: 0;
	}
}

@media screen and (min-width: 300px) and (max-width: 800px) {
	.footer-widget {
		.widget {
			float: none;
			width: 95%;
		}
	}
}